In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, minmax_scale
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("ev_charging_patterns.csv")

In [3]:
data.head()

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,13.087717,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,21.128448,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,35.667270,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,13.036239,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,10.161471,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler

In [4]:
print(data.shape)
print(data['User Type'].unique())

(1320, 20)
['Commuter' 'Casual Driver' 'Long-Distance Traveler']

In [5]:
X = data.drop('User Type', axis = 1)
y = data.drop(X.columns, axis = 1)

In [6]:
X.head()

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,13.087717,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,21.128448,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,35.667270,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,13.036239,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,10.161471,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1

In [7]:
y.head()

                User Type
0                Commuter
1           Casual Driver
2                Commuter
3  Long-Distance Traveler
4  Long-Distance Traveler

In [8]:
encoder = LabelEncoder()

y = encoder.fit_transform(y.ravel())

AttributeError: 'DataFrame' object has no attribute 'ravel'

In [ ]:
print(y.tolist())

:

In [ ]:
X = X.apply(encoder.fit_transform)

:

In [ ]:
print(X)

:

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_temporary, y_train, y_temporary = train_test_split(X, y, train_size = 0.8)
X_validation, X_test, y_validation, y_test = train_test_split(X_temporary, y_temporary, train_size = 0.5)

print(f'lenght of the dataset: {len(X)}')
print(f'lenght of the training dataset: {len(X_train)}')
print(f'lenght of the validation dataset: {len(X_validation)}')
print(f'lenght of the test dataset: {len(X_test)}')

:

In [ ]:
import tensorflow as tf

model = tf.keras.Sequential()

:

In [ ]:
print(X_train.shape)

:

In [ ]:
model.add(tf.keras.layers.Input(shape=(19,)))
model.add(tf.keras.layers.Dense(1056, activation = 'relu'))
model.summary()

:

In [ ]:
model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(1056, activation = 'relu'))

model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(1056, activation = 'relu'))

model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(1056, activation = 'relu'))

model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(1056, activation = 'relu'))

:

In [ ]:
model.add(tf.keras.layers.Dense(1056, activation = 'relu'))
model.summary()

:

In [ ]:
model.add(tf.keras.layers.Dense(19, activation = 'softmax'))

:

In [ ]:
model.summary()

:

In [ ]:
model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])
results = model.fit(X_train, y_train, epochs = 100, validation_data = (X_validation, y_validation))

:

In [ ]:
plt.plot(results.history['loss'], label = 'Train')
plt.plot(results.history['val_loss'], label = 'Test')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend()
plt.show()

: